*{margin:0;padding:0}
li{list-style:none}
img{vertical-align:top;border:none}
legend{display:none}
fieldset{border:none}
a{text-decoration:none}
a:hover,a:active{text-decoration:none}
.clear {clear: both; }

/*-----------------------------登录页面-------------------------------------*/
body{font:12px/1.5 Microsoft YaHei;position:relative;margin:0 auto;color:#000}
#container{
	width:960px;
	box-shadow: 0 0 15px #999999;
	margin: 0 auto;
	overflow-x: hidden;
	position: relative;
} 
.login{
	background:#0c7fc2 url(../img/bj.jpg) no-repeat center top ;
	height:600px}
.login_hd{
	background:url(../img/aaa.png) no-repeat;
	float:left;
	margin:20px 20px 0;
	width:430px;
	height:67px;}
.login_banner{
	background:url(../img/banner.png) no-repeat;
	float:left;
	margin:200px 70px 0;
	width:310px;
	height:53px;}
.login_main{
	position:relative; 
	background:url(../img/login_bj.png) no-repeat;
	float:right;
	margin:110px 50px 50px;
	width:390px;height:240px;}
.login_help{
	float:right;
	margin:3px -16px 10px;
	width:100px;
	height:30px;
	font-size:14px;
	color:#1e7bbd}
.login_help a{
	color:#0101ff}
.login_form{
	width:272px;
	height:170px;
	padding:27px 28px 0 26px;
	color:#000101;
	position:relative;}
.username{height:57px;margin:55px 121px 13px;}
.password{height:57px;margin:-22px 121px 13px;}
.username input,.password input{
	width:176px;
	height:30px;
	border:0;
	color:#999;
	font-size:14px;
	line-height:32px}控制行距
.username input{
	position:absolute; 
	top:83px; 
	left:146px; }
.password input{
	position:absolute; 
	top:129px; 
	left:146px; }
.login_btn{
	text-align:center;
	height:42px;
	margin:0;
	position:absolute; 
	top:170px;
	left:150px; }
.login_btn input{background:url(../img/login_btn.png) no-repeat;
	border:0;
	width:68px;
	height:42px;
	cursor:pointer;
	text-indent:-9999px;
	*text-indent:0;
	*line-height:9999px;
	overflow:hidden;
	outline-style: none;
}
.guest{
	float:left;
	margin:0px 20px 0;
	height:30px;
	font-size:14px;
	position:absolute; 
	top:200px; 
	left:0px; 
	width:350px;
	text-align:center;
	color:#f00}
.guest a{color:#0101ff}
.forget{
	float: right;
	margin: 0px 20px 0px;
	height:30px;
	font-size:15px;
	position: absolute;
	top: 172px;
	right: 30px;
	width: 100px;
	text-align: center;
	}
.forget a{color:#ff0000}
.first{
	float:right;
	margin:10px 0px 0;
	width:350px;
	height:50px;
	color:#fff;
	position:absolute; 
	top:230px; 
	left:40px;
}